


/* main */
.main__card-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main__card {
  width: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(43, 84, 106);
}

.main__card-nick-name {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.main__card-title {
  font-weight: bold;
  padding-left: 15%;
  max-width: 80%;
  word-wrap: break-word;
}


.main__card-created-time {
  text-align: right;
}
