


/* main */
.main {
  padding-top: 30px;
  padding-bottom: 300px;
  background-color: #88e7ce;
}

.main .container {
  position: relative;
}

.thread-title {
  color: rgb(43, 84, 106);
  font-size: 3.5rem;
  font-weight: bold;
}

.thread-desc {
  margin: 40px;
}

.thread-created-date {
  text-align: right;
  margin-bottom: 20px;
}


.main__card {
  width: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(43, 84, 106);
}

.main__card-nick-name {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.main__card-title {
  font-weight: bold;
  padding-left: 15%;
  max-width: 80%;
  word-wrap: break-word;
}


.main__card-created-time {
  text-align: right;
}


/* comment-form */
.comment-form__wrapper {
  padding: 20px;
  position: absolute;
  bottom: -300px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(43, 84, 106);
  width: 100%;
}


.comment-form__div {
  margin-right: 40px;
}

input {
  margin-bottom: 20px;
  width: 100%;
}

textarea {
  height: 3rem;
  width: 100%;
  margin-bottom: 20px;
}