{% extends 'base.html' %}
{% load static %}

{% block customcss %}{% static 'css/thread.css' %}{% endblock customcss %}

{% block content %}

<section class="main">
  <div class="container main__card-wrapper">

    {% for comment in comments %}
      <div class="main__card">
        <p class="main__card-comment-number">{{ forloop.counter }}</p>
        <p class="main__card-nick-name">ニックネーム：{{ comment.nick_name }}</p>
        <h2 class="main__card-title">{{ comment.comment }}</h2>
        <p class="main__card-created-time">{{ comment.created_time|date:"Y/m月d日 A f" }}</p>
      </div>
    {% endfor %}
    
  </div>
  
  
</section>
    <div class="comment-form__wrapper">
      <form class="comment-form" action="" method="POST">
        {% csrf_token %}
        <input name="comment" type="text">
        <input name="nick_name" type="text">
        <button type="submit">コメント投稿</button>
      </form>
    </div>


{% endblock content %}